nav {
    display: flex;                  /* Add Flexbox to container */
    flex-direction: row;            /* Main axis goes from left to right */
    justify-content: flex-end;      /* Move to right side of flex container */

}

a {
    font-size: 40px; 
    text-decoration: none;
    color: #95a5a6;
    font-family: raleway;
    border-bottom: 1px solid #52c9aa;
    margin: 20px;
    transition: color 0.5s ease-out;
}

a:hover {
    color: #3498db;
    border-bottom-color: #3498db;
}

i {
    margin-right: 10px;
}

@media screen and (max-width: 920px) {
    nav {
        justify-content: space-around;
    }
    
    a {
        font-size: 25px;
    }
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;         /* Change nav to column on mobile */
        align-items: center;            /* Center the column nav */
    }
}